<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="Unity" version="5.2.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.5.0.91635" targetFramework="net461" />
  <package id="Xamarin.UITest" version="2.2.1.1670-dev" targetFramework="net461" />
</packages>